<div class="popup-wrap js-popup-wrap">
    <div class="popup-overlay js-popup-close"></div>
    <div class="popup popup--small js-popup" data-popup="order-call">
        <button class="popup__close js-popup-close">X</button>
        <div class="popup-overlow js-form">
            <div class="popup__title">
                Заказать звонок
            </div>
            <div class="popup__text">
                Оставьте заявку, мы перезвоним
                вам для консультации
            </div>
            <div class="popup__content">
                <form action="" class="small-form">
                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field" placeholder="Ваше имя" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field js-phone" placeholder="Ваш телефон" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <div class="field-checkbox">
                                <label class="field-checkbox__label">
                                    <input type="checkbox" required>
                                    Согласен на обработку <a href="#">персональных данных</a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fields-action fields-row" data-cols="1">
                        <div class="field-item">
                            <button type="submit" class="btn btn-black js-call-submit">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="js-form-thanks form-thanks">
            <div class="popup__title">
                Спасибо!
            </div>
            <div class="popup__text">
                Ваша заявка отправлена,
                <br>ожидайте звонка
            </div>
        </div>
    </div>
    <div class="popup popup--small js-popup" data-popup="review">
        <button class="popup__close js-popup-close">X</button>
        <div class="popup-overlow js-form">
            <div class="popup__title">
                Оставить отзыв
            </div>
            <div class="popup__text">
                Оставьте заявку, мы перезвоним
                вам для консультации
            </div>
            <div class="popup__content">
                <form action="" class="small-form">
                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field" placeholder="Ваше имя" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field js-phone" placeholder="Ваш телефон" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <textarea placeholder="Текст отзыва" class="field-textarea-field"></textarea>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <div class="field-checkbox">
                                <label class="field-checkbox__label">
                                    <input type="checkbox" required>
                                    Согласен на обработку <a href="#">персональных данных</a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fields-action fields-row" data-cols="1">
                        <div class="field-item">
                            <button type="submit" class="btn btn-black js-call-submit">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="js-form-thanks form-thanks">
            <div class="popup__title">
                Спасибо!
            </div>
            <div class="popup__text">
                Ваш отзыв отправлен!
                <br>После модерации, мы опубликуем его на сайте
            </div>
        </div>
    </div>
    <div class="popup popup--small js-popup" data-popup="question">
        <button class="popup__close js-popup-close">X</button>
        <div class="popup-overlow js-form">
            <div class="popup__title">
                Есть вопросы по товару?
            </div>
            <div class="popup__text">
                Оставьте заявку, мы перезвоним
                вам для консультации
            </div>
            <div class="popup__content">
                <form action="" class="small-form">
                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field" placeholder="Ваше имя" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <input type="text" class="field-text-field js-phone" placeholder="Ваш телефон" required>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <textarea placeholder="Текст отзыва" class="field-textarea-field"></textarea>
                        </div>
                    </div>

                    <div class="fields-row" data-cols="1">
                        <div class="field-item">
                            <div class="field-checkbox">
                                <label class="field-checkbox__label">
                                    <input type="checkbox" required>
                                    Согласен на обработку <a href="#">персональных данных</a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fields-action fields-row" data-cols="1">
                        <div class="field-item">
                            <button type="submit" class="btn btn-black js-call-submit">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="js-form-thanks form-thanks">
            <div class="popup__title">
                Спасибо!
            </div>
            <div class="popup__text">
                Благодарим Вас за вопрос!
                <br>В ближайшее время с Вами
                свяжется менеджер
            </div>
        </div>
    </div>
</div>