.filter-block {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background: #F6F6F6;
  padding: 25px 30px;

  &__title {
    width: 100%;
    color: #BABABA;
    font-family: $font_actay-wide;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }
}

.filter-block-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &.is-filter-more-active {
    .filter-field--more {
      display: block;
    }
  }

  &__fields {
    width: calc(100% - 180px);

    @media (max-width: 1200px) {
      width: calc(100% - 220px);
    }

    @media (max-width: 992px) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__action {
    width: 180px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .btn {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    @media (max-width: 1200px) {
      width: 220px;
      min-width: 220px;
    }

    @media (max-width: 992px) {
      width: 100%;
      min-width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
    }
  }
}

.filter-row {
  margin: -7px -13px;
  display: flex;
  flex-wrap: wrap;

  .filter-field {
    width: calc(100% / 5 - 26px);

    @media (max-width: 1200px) {
      width: calc(100% / 3 - 26px);
    }

    @media (max-width: 767px) {
      width: calc(100% / 2 - 26px);
    }

    @media (max-width: 480px) {
      width: calc(100% / 1 - 26px);
    }
  }
}

.filter-field {
  margin: 7px 13px;

  &--more {
    display: none;
  }

  &__select {
    width: 100%;
  }
}

.select2.select2-container {
  .select2-selection {
    height: 41px;
    border-radius: 10px;
    background: #FFF;
    border: none;

    .select2-selection__rendered {
      line-height: 41px;
      padding-left: 10px;
      color: #000;
      font-family: $font_actay-wide;
      font-size: 14px;
      font-weight: 700;
    }

    .select2-selection__arrow {
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 8.35355C3.84171 8.54882 4.15829 8.54882 4.35355 8.35355L7.53553 5.17157C7.7308 4.97631 7.7308 4.65973 7.53553 4.46447C7.34027 4.2692 7.02369 4.2692 6.82843 4.46447L4 7.29289L1.17157 4.46447C0.976311 4.2692 0.659728 4.2692 0.464466 4.46447C0.269204 4.65973 0.269204 4.97631 0.464466 5.17157L3.64645 8.35355ZM3.5 -2.18557e-08L3.5 8L4.5 8L4.5 2.18557e-08L3.5 -2.18557e-08Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 41px;
      transition: all .3s ease;
      b {
        display: none;
      }
    }
  }

  &--open {
    .select2-selection {
      .select2-selection__arrow {
        transform: rotate(180deg);
      }
    }
  }
}

.filter-dropdown {
  display: flex;
  align-items: center;
  transition: all .3s ease;
  position: relative;

  &__title {
    border-radius: 10px;
    color: #000;
    font-family: $font_actay-wide;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 30px 10px 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 8.35355C3.84171 8.54882 4.15829 8.54882 4.35355 8.35355L7.53553 5.17157C7.7308 4.97631 7.7308 4.65973 7.53553 4.46447C7.34027 4.2692 7.02369 4.2692 6.82843 4.46447L4 7.29289L1.17157 4.46447C0.976311 4.2692 0.659728 4.2692 0.464466 4.46447C0.269204 4.65973 0.269204 4.97631 0.464466 5.17157L3.64645 8.35355ZM3.5 -2.18557e-08L3.5 8L4.5 8L4.5 2.18557e-08L3.5 -2.18557e-08Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-color: #fff;
    height: 41px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    border: none;
  }

  &.is-opened &__title {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 0.646446C4.15829 0.451184 3.84171 0.451184 3.64645 0.646446L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 9L4.5 1L3.5 1L3.5 9L4.5 9Z' fill='%232155A2'/%3E%3C/svg%3E%0A");
    border-radius: 10px 10px 0 0 ;
  }

  &.is-opened {
    .filter-dropdown-content {
      display: block;
      animation: showFade .3s ease forwards;
    }
  }
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  background: #fff;
  padding: 0 10px 10px 10px;
  z-index: 100;
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.10));
  opacity: 0;

  .field-checkbox {
    margin: 10px 0;
  }
}

.price-range-results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.price-range-from {
  border-radius: 3px;
  border: 1px solid #BABABA;
  width: 86px;
  height: 22px;
  color: #000;
  font-size: 10px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
}

.price-range-to {
  border-radius: 3px;
  border: 1px solid #BABABA;
  width: 86px;
  height: 22px;
  color: #000;
  font-size: 10px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
}

.noUi-target {
  box-shadow: none !important;
  border: none !important;
  background: #c1c1c1 !important;
  border-radius: 100px !important;
  height: 1px !important;
  margin: 0 5px 14px 5px !important;

  .noUi-connect {
    background-color: #000;
  }

  .noUi-handle {
    cursor: pointer;
    border-radius: 100%;
    background-color: #000;
    width: 8px !important;
    height: 8px !important;
    border: 1px solid #fff;
    box-shadow: none;
    top: -4px !important;
    right: -1px !important;

    &:before,
    &:after {
      display: none;
    }
  }
}