@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Ошибка 404
            </li>
        </ul>
        <h1>Ошибка 404</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="error-page">
            <div class="error-page__title">
                ОШИБКА (404)
            </div>
            <div class="error-page__text">
                Упс! К сожалению данный раздел временно не доступен. Приносим свои извинения за неудбство.
            </div>
            <div class="error-page__btn">
                <a href="index.html" class="btn btn-black">Вернуться на главную</a>
            </div>
        </div>
    </div>
</section>


@@include('../partials/footer.html')