@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                О компании
            </li>
        </ul>
        <h1>О компании</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="content-block content-block--w-image">
            <div class="content-block__text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="content-block__img">
                <img src="assets/images/content/about.png" srcset="assets/images/content/about@2x.png 2x" alt="">
            </div>
        </div>
        <div class="rekvizits">
            <div class="section-block__title">Реквизиты</div>
            <div class="table-wrap">
                <div class="rekvizits-table">
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Полное наименование
                        </div>
                        <div class="rekvizits-table__col-value">
                            Общество с ограниченной ответственностью «Керамо Гранит Урала»
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            ОГРН
                        </div>
                        <div class="rekvizits-table__col-value">
                            1177746723604
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            ИНН/КПП
                        </div>
                        <div class="rekvizits-table__col-value">
                            7751056056/775101001
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            ОКПО
                        </div>
                        <div class="rekvizits-table__col-value">
                            17230170
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Юридический адрес
                        </div>
                        <div class="rekvizits-table__col-value">
                            100900, г. Москва, улица Длинноназванная, д. 15 а
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Почтовый адрес
                        </div>
                        <div class="rekvizits-table__col-value">
                            100900, г. Москва, улица Длинноназванная, д. 15 а
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Телефон
                        </div>
                        <div class="rekvizits-table__col-value">
                            8 (990) 900-90-90
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Генеральный директор
                        </div>
                        <div class="rekvizits-table__col-value">
                            Иванов Иван Иванович
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Расчетный счет
                        </div>
                        <div class="rekvizits-table__col-value">
                            40702810240000009622 в ПАО «Сбербанк России» г. Москва
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            Кор.счет банка
                        </div>
                        <div class="rekvizits-table__col-value">
                            30101810400000000225
                        </div>
                    </div>
                    <div class="rekvizits-table-row">
                        <div class="rekvizits-table__col-name">
                            БИК банка
                        </div>
                        <div class="rekvizits-table__col-value">
                            044525225
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents">
            <div class="section-block__title">Документы</div>
            <div class="documents-gallery">
                <div class="swiper js-documents-gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide documents-gallery__slide">
                            <a href="assets/images/content/document@2x.png" data-fancybox="document">
                                <img src="assets/images/content/document.png" srcset="assets/images/content/document@2x.png 2x" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="js-documents-gallery-nav swiper-button-prev"></div>
                <div class="js-documents-gallery-nav swiper-button-next"></div>
                <div class="js-documents-gallery-nav swiper-pagination"></div>
            </div>
        </div>
        <div class="block-gallery">
            <div class="block-gallery__title">
                Фотогалерея
            </div>
            <div class="block-gallery__big">
                <a href="assets/images/projects/project_2@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_2.png" srcset="assets/images/projects/project_2@2x.png 2x" alt="">
                </a>
            </div>
            <div class="block-gallery__small">
                <a href="assets/images/projects/project_3@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_3.png" srcset="assets/images/projects/project_3@2x.png 2x" alt="">
                </a>

                <a href="assets/images/projects/project_4@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_4.png" srcset="assets/images/projects/project_4@2x.png 2x" alt="">
                </a>
            </div>
        </div>
        <div class="products-more">
            <a href="#" class="products-more__link">Загрузить еще</a>
        </div>
        <ul class="pagination">
            <li class="pagination-item">
                <a href="#" class="pagination-item__link pagination-item__link--active">1</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">2</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">3</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">...</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">12</a>
            </li>
        </ul>
    </div>
</section>

<section class="reviews-block" id="section-reviews">
    <div class="container">
        <div class="section-block__title">
            Отзывы о нас
        </div>
        <div class="swiper js-reviews-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide review-slide">
                    <div class="review-slide__user">
                        <div class="review-slide__user-avatar">
                            <img src="assets/images/icons/avatar.svg" alt="">
                        </div>
                        <div class="review-slide__user-name">
                            <div class="review-slide__user-name-city">
                                г. Москва
                            </div>
                            <div class="review-slide__user-name-info">
                                Иванов Иван
                            </div>
                        </div>
                    </div>
                    <div class="review-slide__text">
                        Отличная плитка! Хорошая геометрия,
                        консультанты помогли с выбором,
                        смогли оформить нашу ванную в классном
                        дизайне! Рекомендуем этот магазин!
                    </div>
                </div>
                <div class="swiper-slide review-slide">
                    <div class="review-slide__user">
                        <div class="review-slide__user-avatar">
                            <img src="assets/images/icons/avatar.svg" alt="">
                        </div>
                        <div class="review-slide__user-name">
                            <div class="review-slide__user-name-city">
                                г. Москва
                            </div>
                            <div class="review-slide__user-name-info">
                                Иванов Иван
                            </div>
                        </div>
                    </div>
                    <div class="review-slide__text">
                        Отличная плитка! Хорошая геометрия,
                        консультанты помогли с выбором,
                        смогли оформить нашу ванную в классном
                        дизайне! Рекомендуем этот магазин!
                    </div>
                </div>
                <div class="swiper-slide review-slide">
                    <div class="review-slide__user">
                        <div class="review-slide__user-avatar">
                            <img src="assets/images/icons/avatar.svg" alt="">
                        </div>
                        <div class="review-slide__user-name">
                            <div class="review-slide__user-name-city">
                                г. Москва
                            </div>
                            <div class="review-slide__user-name-info">
                                Иванов Иван
                            </div>
                        </div>
                    </div>
                    <div class="review-slide__text">
                        Отличная плитка! Хорошая геометрия,
                        консультанты помогли с выбором,
                        смогли оформить нашу ванную в классном
                        дизайне! Рекомендуем этот магазин!
                    </div>
                </div>
                <div class="swiper-slide review-slide">
                    <div class="review-slide__user">
                        <div class="review-slide__user-avatar">
                            <img src="assets/images/icons/avatar.svg" alt="">
                        </div>
                        <div class="review-slide__user-name">
                            <div class="review-slide__user-name-city">
                                г. Москва
                            </div>
                            <div class="review-slide__user-name-info">
                                Иванов Иван
                            </div>
                        </div>
                    </div>
                    <div class="review-slide__text">
                        Отличная плитка! Хорошая геометрия,
                        консультанты помогли с выбором,
                        смогли оформить нашу ванную в классном
                        дизайне! Рекомендуем этот магазин!
                    </div>
                </div>
            </div>
            <div class="js-reviews-slider-nav swiper-pagination"></div>
            <div class="js-reviews-slider-nav swiper-button-prev"></div>
            <div class="js-reviews-slider-nav swiper-button-next"></div>
        </div>
        <div class="other-reviews">
            <div class="section-block__title-light is-centered-text">
                Отзывы о нас на других площадках
            </div>
            <div class="other-reviews-list">
                <div class="other-reviews-item">
                    <a href="#">
                        <img src="assets/images/logos/ya.svg" alt="">
                    </a>
                </div>

                <div class="other-reviews-item">
                    <a href="#">
                        <img src="assets/images/logos/2gis.svg" alt="">
                    </a>
                </div>

                <div class="other-reviews-item">
                    <a href="#">
                        <img src="assets/images/logos/spr.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('../partials/footer.html')