@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Кнопки
            </li>
        </ul>

        <h1>Кнопки</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="text-block">
            <p><a href="#" class="btn btn-black js-popup-link" data-popup="order-call">Заказать обратный звонок</a></p>
            <p><a href="#" class="btn btn-black js-popup-link" data-popup="review">Оставить отзыв</a></p>
            <p><a href="#" class="btn btn-black js-popup-link" data-popup="question">Заказать обратный звонок</a></p>
        </div>
    </div>
</section>

@@include('../partials/footer.html')