@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Корзина
            </li>
        </ul>
        <h1>Корзина</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="cart-page">
            <div class="blue-title">
                Корзина товаров <span>(6)</span>
            </div>

            <div class="cart-page-info">
                <div class="cart-page-info__list">
                    <div class="cart-page-info-item">
                        <div class="cart-page-info-item__img">
                            <img src="assets/images/products/montag.jpeg" alt="">
                        </div>
                        <div class="cart-page-info-item__name">
                            <div class="cart-page-info-item__name-title">
                                Зажим для укладки плитки Зажим для укладки плитки
                            </div>
                            <div class="cart-page-info-item__cdu">
                                <span>Артикул:</span> 123456789
                            </div>
                        </div>
                        <div class="cart-page-info-item__count">
                            <div class="cart-page-info-item__count-title">
                                Количество:
                            </div>

                            <div class="counter-block js-counter-wrap">
                                <button class="counter-block__minus js-counter-minus">
                                    -
                                </button>
                                <div class="counter-block__total js-counter-total">
                                    10
                                </div>
                                <button class="counter-block__plus js-counter-plus">
                                    +
                                </button>
                            </div>

                        </div>
                        <div class="cart-page-info-item__price">
                            <div class="cart-page-info-item__price-total">
                                3 856 руб/м2
                            </div>
                            <div class="cart-page-info-item__price-type">
                                <form action="">
                                    <div class="cart-page-type">
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="1" checked>
                                            <span class="cart-page-type__input">
                                                м<sub>2</sub>
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="2">
                                            <span class="cart-page-type__input">
                                                шт
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="3">
                                            <span class="cart-page-type__input">
                                                упак.
                                            </span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cart-page-info-item__action">
                            <a href="#" class="btn btn-favorite">
                                В избранное
                            </a>
                            <a href="#" class="btn btn-remove">
                                Удалить
                            </a>
                        </div>
                    </div>
                    <div class="cart-page-info-item">
                        <div class="cart-page-info-item__img">
                            <img src="assets/images/products/montag.jpeg" alt="">
                        </div>
                        <div class="cart-page-info-item__name">
                            <div class="cart-page-info-item__name-title">
                                Зажим для укладки плитки
                            </div>
                            <div class="cart-page-info-item__cdu">
                                <span>Артикул:</span> 123456789
                            </div>
                        </div>
                        <div class="cart-page-info-item__count">
                            <div class="cart-page-info-item__count-title">
                                Количество:
                            </div>

                            <div class="counter-block js-counter-wrap">
                                <button class="counter-block__minus js-counter-minus">
                                    -
                                </button>
                                <div class="counter-block__total js-counter-total">
                                    10
                                </div>
                                <button class="counter-block__plus js-counter-plus">
                                    +
                                </button>
                            </div>

                        </div>
                        <div class="cart-page-info-item__price">
                            <div class="cart-page-info-item__price-total">
                                3 856 руб/м2
                            </div>
                            <div class="cart-page-info-item__price-type">
                                <form action="">
                                    <div class="cart-page-type">
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="1" checked>
                                            <span class="cart-page-type__input">
                                                м<sub>2</sub>
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="2">
                                            <span class="cart-page-type__input">
                                                шт
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="3">
                                            <span class="cart-page-type__input">
                                                упак.
                                            </span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cart-page-info-item__action">
                            <a href="#" class="btn btn-favorite">
                                В избранное
                            </a>
                            <a href="#" class="btn btn-remove">
                                Удалить
                            </a>
                        </div>
                    </div>
                    <div class="cart-page-info-item">
                        <div class="cart-page-info-item__img">
                            <img src="assets/images/products/montag.jpeg" alt="">
                        </div>
                        <div class="cart-page-info-item__name">
                            <div class="cart-page-info-item__name-title">
                                Зажим для укладки плитки
                            </div>
                            <div class="cart-page-info-item__cdu">
                                <span>Артикул:</span> 123456789
                            </div>
                        </div>
                        <div class="cart-page-info-item__count">
                            <div class="cart-page-info-item__count-title">
                                Количество:
                            </div>

                            <div class="counter-block js-counter-wrap">
                                <button class="counter-block__minus js-counter-minus">
                                    -
                                </button>
                                <div class="counter-block__total js-counter-total">
                                    10
                                </div>
                                <button class="counter-block__plus js-counter-plus">
                                    +
                                </button>
                            </div>

                        </div>
                        <div class="cart-page-info-item__price">
                            <div class="cart-page-info-item__price-total">
                                3 856 руб/м2
                            </div>
                            <div class="cart-page-info-item__price-type">
                                <form action="">
                                    <div class="cart-page-type">
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="1" checked>
                                            <span class="cart-page-type__input">
                                                м<sub>2</sub>
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="2">
                                            <span class="cart-page-type__input">
                                                шт
                                            </span>
                                        </label>
                                        <label class="cart-page-type__label">
                                            <input type="radio" name="pr1" value="3">
                                            <span class="cart-page-type__input">
                                                упак.
                                            </span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cart-page-info-item__action">
                            <a href="#" class="btn btn-favorite">
                                В избранное
                            </a>
                            <a href="#" class="btn btn-remove">
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cart-page-info__sidebar">
                    <div class="cart-total-block">
                        <div class="cart-total-block__title">
                            ИТОГО:
                        </div>
                        <div class="cart-total-block__product-count">
                            Всего товаров: 3 шт
                        </div>
                        <div class="cart-total-block__total-price">
                            23 856 руб/м2
                        </div>
                        <div class="cart-total-block__btn">
                            <a href="#" class="btn btn-black">Перейти к оформлению</a>
                        </div>
                    </div>

                    <div class="cart-contacts">
                        <a href="#" class="social-link social-link__wa"></a>
                        <a href="#" class="social-link social-link__viber"></a>
                        <a href="#" class="social-link social-link__tg"></a>
                        <a href="#" class="social-link social-link__vk"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- new -->
<section class="section-block" id="section-more-products">
    <div class="container">
        <div class="section-block__title">
            Для монтажа необходимо
        </div>
        <div class="product-slider-block">
            <div class="swiper js-newest-slider-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--have">в наличии</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--out">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-teaser">
                            <div class="product-teaser__tag product-teaser__tag--new">новинка</div>
                            <a href="#" class="product-teaser__favorite">
                                В избранное
                            </a>
                            <a href="#" class="product-teaser__stat"></a>
                            <a href="#" class="product-teaser__link"></a>
                            <div class="product-teaser__img">
                                <img src="assets/images/products/montag.jpeg" alt="">
                            </div>
                            <div class="product-teaser__title">
                                <div class="product-teaser__title-name">
                                    Зажим для укладки плитки
                                </div>
                                <div class="product-teaser__title-brand">
                                    <img src="assets/images/brands/1.png" alt="">
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-size">
                                    <span>Кол-во:</span> 100 шт/упаковка
                                </div>
                            </div>
                            <div class="product-teaser__info">
                                <div class="product-teaser__info-country">
                                    <span>Производитель:</span>
                                    <img src="assets/images/flags/ru.png" alt="">
                                    Россия
                                </div>
                            </div>
                            <div class="product-teaser__footer">
                                <div class="product-teaser__footer-price">
                                    <span>Цена:</span>
                                    196 руб
                                </div>
                                <div class="product-teaser__footer-btn">
                                    <a href="#" class="btn btn-black btn-black--cart">
                                        В корзину
                                        <span class="icon-cart"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-newest-slider-nav-1 swiper-button-prev"></div>
            <div class="js-newest-slider-nav-1 swiper-button-next"></div>
        </div>
    </div>
</section>


@@include('../partials/footer.html')