@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Каталог товаров
            </li>
        </ul>

        <h1>Каталог товаров</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="catalog-category">
            <article class="catalog-category-item">
                <a href="#" class="catalog-category-item__link"></a>
                <div class="catalog-category-item__title">
                    Керамическая плитка
                </div>
                <div class="catalog-category-item__text">
                    В данном разделе предоставлен ассортимент керамической плитки
                </div>
                <div class="catalog-category-item__arrow"></div>
                <div class="catalog-category-item__img">
                    <img src="assets/images/categories/keram-plitka.png"
                         srcset="assets/images/categories/keram-plitka@2x.png 2x"
                         alt="">
                </div>
            </article>
            <article class="catalog-category-item">
                <a href="#" class="catalog-category-item__link"></a>
                <div class="catalog-category-item__title">
                    Клей для плитки
                </div>
                <div class="catalog-category-item__text">
                    В данном разделе предоставлен ассортимент
                    различного клея для плитки
                </div>
                <div class="catalog-category-item__arrow"></div>
                <div class="catalog-category-item__img">
                    <img src="assets/images/categories/klei.png"
                         srcset="assets/images/categories/klei@2x.png 2x"
                         alt="">
                </div>
            </article>
            <article class="catalog-category-item">
                <a href="#" class="catalog-category-item__link"></a>
                <div class="catalog-category-item__title">
                    Затирка для плитки
                </div>
                <div class="catalog-category-item__text">
                    В данном разделе предоставлен ассортимент
                    затирки для керамической плитки
                </div>
                <div class="catalog-category-item__arrow"></div>
                <div class="catalog-category-item__img">
                    <img src="assets/images/categories/zatirka.png"
                         srcset="assets/images/categories/zatirka@2x.png 2x"
                         alt="">
                </div>
            </article>
            <article class="catalog-category-item">
                <a href="#" class="catalog-category-item__link"></a>
                <div class="catalog-category-item__title">
                    Аксессуары для плитки
                </div>
                <div class="catalog-category-item__text">
                    В данном разделе предоставлен ассортимент
                    различных аксессуаров и вспомогательных
                    материалов для работы с плиткой
                </div>
                <div class="catalog-category-item__arrow"></div>
                <div class="catalog-category-item__img">
                    <img src="assets/images/categories/accessosuare.png"
                         srcset="assets/images/categories/accessosuare@2x.png 2x"
                         alt="">
                </div>
            </article>
        </div>
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
</section>


@@include('../partials/footer.html')