@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Сравнение
            </li>
        </ul>
        <h1>Сравнение</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="compare-page js-compare-page">
            <div class="products" data-products="infinity">
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-teaser">
                    <a href="#" class="product-teaser__favorite">
                        В избранное
                    </a>
                    <a href="#" class="product-teaser__link"></a>
                    <div class="product-teaser__img">
                        <img src="assets/images/products/montag.jpeg" alt="">
                    </div>
                    <div class="product-teaser__title">
                        <div class="product-teaser__title-name">
                            Зажим для укладки плитки
                        </div>
                    </div>
                    <div class="product-teaser__footer">
                        <div class="product-teaser__footer-price">
                            <span>Цена:</span>
                            196 руб
                        </div>
                        <div class="product-teaser__footer-btn">
                            <a href="#" class="btn btn-black btn-black--cart">
                                В корзину
                                <span class="icon-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="compare-page-visible">
                <form action="">
                    <div class="field-checkbox">
                        <label class="field-checkbox__label">
                            <input type="checkbox">
                            Показывать только отличия
                        </label>
                    </div>
                </form>
            </div>

            <div class="compare-table__title">Производитель:</div>

            <div class="compare-table__info" data-products="infinity">
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
            </div>

            <div class="compare-table__title">Рисунок:</div>

            <div class="compare-table__info" data-products="infinity">
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
            </div>

            <div class="compare-table__title">Поверхность:</div>

            <div class="compare-table__info" data-products="infinity">
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
                <div class="compare-table-item">
                    Россия
                </div>
            </div>
        </div>

        <div class="compare-table-reset">
            <a href="#" class="btn btn-black">Очистить всё</a>
        </div>

    </div>
</section>


@@include('../partials/footer.html')