@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Избранное
            </li>
        </ul>

        <h1>Избранное</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="favorite-remove-all">
            <a href="#" class="favorite-remove-all__link">Удалить всё</a>
        </div>
        <div class="products" data-products="3">
            <div class="product-teaser product-teaser--collections">
                <a href="#" class="btn btn-remove product-teaser__remove"></a>
                <a href="#" class="product-teaser__link"></a>
                <div class="product-teaser__img">
                    <img src="assets/images/products/product_1.jpg" srcset="assets/images/products/product_1@2x.jpg 2x" alt="">
                </div>
                <div class="product-teaser__title">
                    <div class="product-teaser__title-name">
                        Italon Charme Deluxe Invisible
                        White Lux
                    </div>
                    <div class="product-teaser__title-brand">
                        <img src="assets/images/brands/1.png" alt="">
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-size">
                        <span>Размер:</span> 80х80 см
                    </div>
                    <div class="product-teaser__info-country">
                        <span>Производитель:</span>
                        <img src="assets/images/flags/ru.png" alt="">
                        Россия
                    </div>
                </div>
                <div class="product-teaser__footer">
                    <div class="product-teaser__footer-price">
                        <span>Цена:</span>
                        от 4 560 руб/м2
                    </div>
                    <div class="product-teaser__footer-btn">
                        <a href="#" class="btn btn-black">К товарам</a>
                    </div>
                </div>
            </div>
            <div class="product-teaser product-teaser--collections">
                <a href="#" class="btn btn-remove product-teaser__remove"></a>
                <a href="#" class="product-teaser__link"></a>
                <div class="product-teaser__img">
                    <img src="assets/images/products/product_3.jpg" srcset="assets/images/products/product_3@2x.jpg 2x" alt="">
                </div>
                <div class="product-teaser__title">
                    <div class="product-teaser__title-name">
                        Urban Jungle Светло-серый
                        Листья
                    </div>
                    <div class="product-teaser__title-brand">
                        <img src="assets/images/brands/3.png" alt="">
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-size">
                        <span>Размер:</span> 40х120 см
                    </div>
                    <div class="product-teaser__info-country">
                        <span>Производитель:</span>
                        <img src="assets/images/flags/de.png" alt="">
                        Германия
                    </div>
                </div>
                <div class="product-teaser__footer">
                    <div class="product-teaser__footer-price">
                        <span>Цена:</span>
                        от 6 560 руб/м2
                    </div>
                    <div class="product-teaser__footer-btn">
                        <a href="#" class="btn btn-black">К товарам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('../partials/footer.html')