@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Избранное
            </li>
        </ul>

        <h1>Избранное</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="favorite-remove-all">
            <a href="#" class="btn btn-remove favorite-remove-all__link">Удалить всё</a>
        </div>
        <div class="products" data-products="4">
            <div class="product-teaser">
                <a href="#" class="btn btn-remove product-teaser__remove"></a>
                <a href="#" class="product-teaser__favorite">
                    В избранное
                </a>
                <a href="#" class="product-teaser__stat"></a>
                <a href="#" class="product-teaser__link"></a>
                <div class="product-teaser__img">
                    <img src="assets/images/products/montag.jpeg" alt="">
                </div>
                <div class="product-teaser__title">
                    <div class="product-teaser__title-name">
                        Зажим для укладки плитки
                    </div>
                    <div class="product-teaser__title-brand">
                        <img src="assets/images/brands/1.png" alt="">
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-size">
                        <span>Кол-во:</span> 100 шт/упаковка
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-country">
                        <span>Производитель:</span>
                        <img src="assets/images/flags/ru.png" alt="">
                        Россия
                    </div>
                </div>
                <div class="product-teaser__footer">
                    <div class="product-teaser__footer-price">
                        <span>Цена:</span>
                        196 руб
                    </div>
                    <div class="product-teaser__footer-btn">
                        <a href="#" class="btn btn-black btn-black--cart">
                            В корзину
                            <span class="icon-cart"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-teaser">
                <a href="#" class="btn btn-remove product-teaser__remove"></a>
                <a href="#" class="product-teaser__favorite">
                    В избранное
                </a>
                <a href="#" class="product-teaser__stat"></a>
                <a href="#" class="product-teaser__link"></a>
                <div class="product-teaser__img">
                    <img src="assets/images/products/montag.jpeg" alt="">
                </div>
                <div class="product-teaser__title">
                    <div class="product-teaser__title-name">
                        Зажим для укладки плитки
                    </div>
                    <div class="product-teaser__title-brand">
                        <img src="assets/images/brands/1.png" alt="">
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-size">
                        <span>Кол-во:</span> 100 шт/упаковка
                    </div>
                </div>
                <div class="product-teaser__info">
                    <div class="product-teaser__info-country">
                        <span>Производитель:</span>
                        <img src="assets/images/flags/ru.png" alt="">
                        Россия
                    </div>
                </div>
                <div class="product-teaser__footer">
                    <div class="product-teaser__footer-price">
                        <span>Цена:</span>
                        196 руб
                    </div>
                    <div class="product-teaser__footer-btn">
                        <a href="#" class="btn btn-black btn-black--cart">
                            В корзину
                            <span class="icon-cart"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('../partials/footer.html')