@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="projects.html" class="breadcrumbs-item__link">Проекты</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Проекты детальная
            </li>
        </ul>
        <h1>Проекты</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="projects-detail-page">
            <div class="projects-detail-page__media">
                <div class="project-detail-img-full">
                    <div class="project-detail-img-full-slider">
                        <div class="swiper js-swiper-project-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide  project-detail-img-full-slider__slide">
                                    <a href="assets/images/projects/project_1@2x.png" data-fancybox="gallery">
                                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png 2x" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-detail-img-full-thumbs">
                        <div class="swiper js-swiper-project-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                                <div class="swiper-slide project-detail-img-full-thumbs__slide">
                                    <img src="assets/images/projects/project_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="js-swiper-project-main-nav swiper-button-prev"></div>
                        <div class="js-swiper-project-main-nav swiper-button-next"></div>
                    </div>

                </div>

            </div>
            <div class="projects-detail-page__info">
                <div class="projects-detail-page__title">
                    Очень длинное название проекта
                </div>

                <div class="projects-detail-page__meta">
                    <p><span>Адрес:</span> г. Москва, ул. Очень длинная, д. 12</p>
                    <p><span>Дата сдачи:</span> 12.09.2023</p>
                    <p><span>Стиль:</span> Название стиля</p>
                    <p><span>Площадь реализации:</span> 60 м2</p>
                    <p><span>Тип проекта:</span> Под ключ</p>
                </div>

                <div class="projects-detail-page__action">
                    <div class="projects-detail-page__price-total">
                        <span>Стоимость проекта:</span>
                        <br>23 856 руб/м2
                    </div>
                    <div class="projects-detail-page__btn">
                        <a href="#" class="btn btn-black btn-black--wide">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscribe">
            <div class="subscribe__left">
                <div class="subscribe__title">
                    Хотите такой же проект?
                </div>
                <div class="subscribe__text">
                    Заполните форму и мы свяжемся с вами для обусждения деталей
                </div>
            </div>
            <div class="subscribe__form">
                <form action="">
                    <div class="fields-row" data-cols="3">
                        <div class="field-item">
                            <input type="text" class="field-text-field" placeholder="Ваше имя" required>
                        </div>
                        <div class="field-item">
                            <input type="text" class="field-text-field js-phone" placeholder="Ваш телефон" required>
                        </div>
                        <div class="field-item">
                            <button type="submit" class="btn btn-white">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="projects-detail-page-description">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>

        <div class="block-gallery">
            <div class="block-gallery__title">
                Фотогалерея
            </div>
            <div class="block-gallery__big">
                <a href="assets/images/projects/project_2@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_2.png" srcset="assets/images/projects/project_2@2x.png 2x" alt="">
                </a>
            </div>
            <div class="block-gallery__small">
                <a href="assets/images/projects/project_3@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_3.png" srcset="assets/images/projects/project_3@2x.png 2x" alt="">
                </a>

                <a href="assets/images/projects/project_4@2x.png" data-fancybox="gallery-2">
                    <img src="assets/images/projects/project_4.png" srcset="assets/images/projects/project_4@2x.png 2x" alt="">
                </a>
            </div>
        </div>

        <div class="products-more">
            <a href="#" class="products-more__link">Загрузить еще</a>
        </div>
        <ul class="pagination">
            <li class="pagination-item">
                <a href="#" class="pagination-item__link pagination-item__link--active">1</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">2</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">3</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">...</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-item__link">12</a>
            </li>
        </ul>
    </div>
</section>


@@include('../partials/footer.html')