@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="index.html" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Проекты
            </li>
        </ul>
        <h1>Проекты</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="projects-page">
            <div class="projects-list">
                <div class="projects-list-item">
                    <div class="projects-list-item__img">
                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png" alt="">
                    </div>
                    <div class="projects-list-item__info">
                        <div class="projects-list-item__info-title">
                            Очень длинное название проекта
                        </div>
                        <div class="projects-list-item__info-meta">
                            <p><span>Адрес:</span> г. Москва, ул. Очень длинная, д. 12</p>
                            <p><span>Дата сдачи:</span> 12.09.2023</p>
                        </div>
                        <div class="projects-list-item__info-price">
                            <p><span>Стоимость проекта:</span>
                            <br>23 856 руб/м2</p>
                        </div>
                        <div class="projects-list-item__info-btn">
                            <a href="project-detail.html" class="btn btn-black btn-black--wide">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="projects-list-item">
                    <div class="projects-list-item__img">
                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png" alt="">
                    </div>
                    <div class="projects-list-item__info">
                        <div class="projects-list-item__info-title">
                            Очень длинное название проекта
                        </div>
                        <div class="projects-list-item__info-meta">
                            <p><span>Адрес:</span> г. Москва, ул. Очень длинная, д. 12</p>
                            <p><span>Дата сдачи:</span> 12.09.2023</p>
                        </div>
                        <div class="projects-list-item__info-price">
                            <p><span>Стоимость проекта:</span>
                                <br>23 856 руб/м2</p>
                        </div>
                        <div class="projects-list-item__info-btn">
                            <a href="project-detail.html" class="btn btn-black btn-black--wide">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="projects-list-item">
                    <div class="projects-list-item__img">
                        <img src="assets/images/projects/project_1.png" srcset="assets/images/projects/project_1@2x.png" alt="">
                    </div>
                    <div class="projects-list-item__info">
                        <div class="projects-list-item__info-title">
                            Очень длинное название проекта
                        </div>
                        <div class="projects-list-item__info-meta">
                            <p><span>Адрес:</span> г. Москва, ул. Очень длинная, д. 12</p>
                            <p><span>Дата сдачи:</span> 12.09.2023</p>
                        </div>
                        <div class="projects-list-item__info-price">
                            <p><span>Стоимость проекта:</span>
                                <br>23 856 руб/м2</p>
                        </div>
                        <div class="projects-list-item__info-btn">
                            <a href="project-detail.html" class="btn btn-black btn-black--wide">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('../partials/footer.html')