@@include('../partials/header-inner.html')

<!--sitemap-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Карта сайта
            </li>
        </ul>
        <h1>Карта сайта</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <p><a href="index.html">Главная</a></p>
        <p><a href="catalog.html">Каталог товаров</a></p>
        <p><a href="contacts.html">Контакты</a></p>
        <p><a href="favorite-1.html">Избранное 1</a></p>
        <p><a href="favorite-2.html">Избранное 2</a></p>
        <p><a href="compare.html">Сравнение</a></p>
        <p><a href="projects.html">Проекты</a></p>
        <p><a href="project-detail.html">Проекты - детальная</a></p>
        <p><a href="about.html">О компании</a></p>
        <p><a href="cart.html">Корзина</a></p>
        <p><a href="checkout.html">Оформление заказа</a></p>
        <p><a href="thanks.html">Оформление заказа 2</a></p>
        <p><a href="search-results.html">Результаты поиска</a></p>
        <p><a href="404.html">404</a></p>
        <p><a href="catalog-collections.html">Каталог - Продукты</a></p>
        <p><a href="catalog-products.html">Каталог - Коллекции</a></p>
        <p><a href="product-detail.html">Карточка товара</a></p>
        <p><a href="collection-detail.html">Карточка коллекции</a></p>
        <p><a href="buttons.html">Попапы</a></p>
    </div>
</section>

@@include('../partials/footer.html')