@@include('../partials/header-inner.html')

<!--inner-page-header-->
<section class="page-header">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#" class="breadcrumbs-item__link">Главное</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="cart.html" class="breadcrumbs-item__link">Корзина</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item--current">
                Оформление заказа
            </li>
        </ul>
        <h1>Оформление заказа</h1>
    </div>
</section>

<section class="section-block">
    <div class="container">
        <div class="thanks-page">
            <div class="blue-title">Заказ сформирован</div>
            <div class="box-bordered">
                <div class="thanks-block">
                    <div class="thanks-block__title">Благодарим Вас за покупку!</div>
                    <div class="thanks-block__subtitle">Заказ сформирован</div>
                    <div class="thanks-block__text">
                        <p>Ваш заказ №22 от 14.09.2023 09:08:23 успешно создан.</p>
                        <p><span>Оплата заказа:</span> Один из вариантов</p>
                        <p><span>Способ получения:</span> Один из вариантов</p>
                    </div>
                    <div class="thanks-block__btn">
                        <a href="index.html" class="btn btn-black">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('../partials/footer.html')