</main>

<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="assets/images/logo.svg" alt="">
                </a>
            </div>
            <div class="footer-nav">
                <div class="footer-nav__title">Каталог</div>
                <div class="footer-nav__list">
                    <ul class="footer-nav-links">
                        <li class="footer-nav-links-item">
                            <a href="catalog-products.html" class="footer-nav-links-item__link">
                                Для ванной
                            </a>
                        </li>
                        <li class="footer-nav-links-item">
                            <a href="catalog-products.html" class="footer-nav-links-item__link">
                                Для пола
                            </a>
                        </li>
                        <li class="footer-nav-links-item">
                            <a href="catalog-products.html" class="footer-nav-links-item__link">
                                Для кухни
                            </a>
                        </li>
                        <li class="footer-nav-links-item">
                            <a href="catalog-products.html" class="footer-nav-links-item__link">
                                Для монтажа
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-nav__title">Информация</div>
                <div class="footer-nav__list">
                    <ul class="footer-nav-links">
                        <li class="footer-nav-links-item">
                            <a href="about.html" class="footer-nav-links-item__link">
                                Оплата
                            </a>
                        </li>
                        <li class="footer-nav-links-item">
                            <a href="about.html" class="footer-nav-links-item__link">
                                Доставка
                            </a>
                        </li>
                        <li class="footer-nav-links-item">
                            <a href="about.html" class="footer-nav-links-item__link">
                                Гарантия
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-location">
                <div class="footer-location__address">г. Москва, ул. Очень длинная, д. 24</div>
                <div class="footer-location__time">c 10 до 22 без выходных</div>
                <a href="mailto:keramogranit.urala@mail.ru" class="footer-location__email">keramogranit.urala@mail.ru</a>
            </div>
            <div class="footer-contacts">
                <div class="phone-dropdown">
                    <a href="tel:+89909909990" class="phone-dropdown__main">8 (990) 990-99-90</a>
                    <div class="phone-dropdown__caret js-phone-list-btn"></div>
                    <div class="phone-dropdown__list js-phone-list">
                        <a href="tel:+89909909990" class="phone-dropdown__list-link">8 (990) 990-99-90</a>
                        <a href="tel:+89909909990" class="phone-dropdown__list-link">8 (990) 990-99-90</a>
                        <a href="tel:+89909909990" class="phone-dropdown__list-link">8 (990) 990-99-90</a>
                        <a href="tel:+89909909990" class="phone-dropdown__list-link">8 (990) 990-99-90</a>
                    </div>
                </div>

                <a href="#" class="btn btn-white js-popup-link" data-popup="order-call">Заказать обратный звонок</a>

                <div class="footer-social">
                    <div class="footer-social__title">мы в соц. сетях:</div>
                    <div class="footer-social__links">
                        <a href="#" class="social-link social-link__tg-white"></a>
                        <a href="#" class="social-link social-link__wa-white"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="copyright__name">
                Интернет-магазин
                <br>keramigranit.online © 2023
            </div>
            <div class="copyright__link">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Пользовательское соглашение</a>
            </div>
            <div class="copyright__dev">
                <a href="https://internet-team.ru/" target="_blank" rel="nofollow">Разработка сайта Internet Team</a>
            </div>
        </div>
    </div>
</footer>

@@include('./../blocks/modal.html')

<script src="assets/vendor/js/swiper.js"></script>
<script src="assets/vendor/js/jquery.js"></script>
<script src="assets/vendor/js/jquery-ui.js"></script>
<script src="assets/vendor/js/jquery.mask.min.js"></script>
<script src="assets/vendor/js/fancybox.umd.js"></script>
<!--<script src="assets/vendor/js/select2.min.js"></script>-->
<script src="assets/vendor/js/nouislider.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>

