.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 34px 0 0 0;
  padding: 0;
}

.pagination-item {
  margin: 0 5px;

  &__link {
    color: #ADADAD;
    font-family: $font_actay-wide;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    transition: all .3s ease;
    text-decoration: none;
    padding: 0 5px;

    &--active {
      color: #000;
    }

    &:hover {
      color: #000;
    }
  }
}